version: "3.9"

services:
  db:
    image: postgres:16
    container_name: poke-postgres
    environment:
      POSTGRES_USER: poke_user
      POSTGRES_PASSWORD: poke_password
      POSTGRES_DB: poke_transformer_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: poke-transformer-api
    env_file:
      - .env.docker
    depends_on:
      - db
    ports:
      - "8000:8000"

volumes:
  postgres_data:
